@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Session
@{
    ViewData["Title"] = "Home Page";
}


  --- @ViewBag.UserId
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="/stages">stages</a>.</p>
        <p>Learn about <a href="/equipments">equipments</a>.</p>
        <p>Learn about <a href="/Interfaces">Interfaces</a>.</p>
        <p>Learn about <a href="/Requests">Requests</a>.</p>
        <p>Learn about <a href="/TestResults">TestResults</a>.</p>
        <p>Learn about <a href="/TestTypes">TestTypes</a>.</p>
        <p>Learn about <a href="/Users">Users</a>.</p>
        <p>Learn about <a href="/Roles">Roles</a>.</p>
    </div>
